/*
    DEMO STYLE
*/
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa; }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em; }

iframe {
  width: 100%; }

a:hover,
a:focus {
  color: #3385ff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a.menu-link:hover, a.menu-link:focus {
  color: #3385ff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a.portada-link:hover, a.portada-link:focus {
  color: inherit;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

#sidebar {
  margin-top: 50px;
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: -250px; }

#sidebar.active {
  margin-left: 0px; }

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc; }

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b; }

#sidebar ul p {
  color: #fff;
  padding: 10px; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff; }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc; }

ul.CTAs {
  padding: 20px; }

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px; }

a.download {
  background: #fff;
  color: #7386D5; }

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#content-fluid {
  width: 100%;
  margin-top: 80px;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* ---------------------------------------------------
    MY STYLE
----------------------------------------------------- */
.btn-file {
  position: relative;
  overflow: hidden;
  border: 1px solid #ADADAD; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

#img-upload {
  width: 100%; }

.nav-menu {
  display: none; }

.nav-options {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 100%; }
  .nav-options li {
    display: inline-block;
    width: 100px;
    vertical-align: middle; }
    .nav-options li a {
      display: block;
      width: 100%;
      height: 100%;
      vertical-align: center;
      text-align: center;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .nav-options li a span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 24px; }
  .nav-options li:hover {
    -webkit-box-shadow: inset 0px -2px 0px 0px #ddd;
    box-shadow: inset 0px -2px 0px 0px #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.card {
  margin-bottom: 1em; }

.img-noticia {
  max-width: 100%;
  height: 200px;
  -o-object-fit: scale-down;
  object-fit: scale-down; }

.img-noticia-in {
  max-width: 100%;
  height: auto;
  max-height: 600px;
  -o-object-fit: contain;
  object-fit: contain; }

.w3-animate-fading {
  -webkit-animation: fading 10s infinite;
  animation: fading 10s infinite; }

@-webkit-keyframes fading {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fading {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mySlides {
  margin-bottom: 2em; }

.carousel-inner img {
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
  object-fit: contain; }

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040; }

.titulo-noticia-portada {
  margin: auto;
  width: 600px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5); }

/* ---------------------------------------------------
    MY STYLE LOGIN
----------------------------------------------------- */
.login-header {
  padding: 2em; }
  .login-header img {
    width: 120px;
    display: block;
    margin: auto; }

.login-container {
  margin: auto;
  margin-top: 2em;
  border: 1px solid #ddd;
  padding: 3em;
  max-width: 500px; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1; }
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  .nav-menu {
    display: none; } }

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1; }
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  #sidebarCollapse {
    display: none; }
  .nav-menu {
    display: block; }
  .navbar-brand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .cover-img {
    max-width: 100%;
    height: 450px;
    -o-object-fit: cover;
    object-fit: cover; } }

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2; }
  .cover-img {
    max-width: 100%;
    height: 450px;
    -o-object-fit: content;
    object-fit: content; } }

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2; }
  .cover-img {
    display: none;
    max-width: 100%;
    height: 450px;
    -o-object-fit: content;
    object-fit: content; }
  .header-titulo {
    display: none; } }
